 /*.header-container header.the-header{
  @apply h-80;
  background-image: url('@/assets/images/anime.jpg');
  background-size:cover ;
  background-position: center;
  border: 1px solid transparent;
  background-repeat: no-repeat;
}*/

 .fade-enter-active,.fade-leave-active{
   transition: opacity 0.5s;
 }
.fade-enter,.fade-leave-to{
opacity: 0;
}
